[Unit]
Description=gunicorn daemon for HMS Project
After=network.target

[Service]
User=bala
Group=www-data
WorkingDirectory=/home/bala/hms_project/HMS
ExecStart=/home/bala/hms_project/HMS/venv/bin/gunicorn --access-logfile - --workers 3 --bind unix:/run/gunicorn/gunicorn.sock hms_project.wsgi:application
RuntimeDirectory=gunicorn

[Install]
WantedBy=multi-user.target
